@using SolarSystemN9
@using SolarSystemN9.Client
@using SolarSystemN9.Components
@using SolarSystemN9.Components.Card
@using SolarSystemN9.Components.Table
@using SolarSystemN9.Data.Entity
<div class="space-card">
    <img src=@($"/images/{Body.BodyType}.svg") />
  <div class="space-card-body">
    <h2 class="space-card-name">@Body.Name</h2>
    <h3 class="space-card-source">@Body.DiscoveredBy</h3>
    </div>
</div>

