@page "/virtualize"
@using SolarSystemN9
@using SolarSystemN9.Client
@using SolarSystemN9.Components
@using SolarSystemN9.Components.Card
@using SolarSystemN9.Components.Table
@using SolarSystemN9.Data

@rendermode @(new InteractiveServerRenderMode(prerender: false))
@attribute [StreamRendering]

<PageTitle>Système Solaire</PageTitle>
<h1>QuickGrid Virtualize</h1>

@if (spaceEntities == null)
{
  <p><em>Chargement en cours...</em></p>
}
else
{
  <VirtualizeSpaceTable SpaceEntities="spaceEntities" />
}