@inherits LayoutComponentBase

<header>
    <NavMenu />
@*     <a href="/" title="Return to the homepage" id="logo">
        <img id="logo" src="images/logo-with-text.png" alt="Logo" />
    </a> *@
</header>
<main>
    @Body
</main>
<footer>
    Système solaire
</footer>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
