<nav>
  <NavLink href="" Match="@NavLinkMatch.All" title="Home" class="ms-Icon ms-Icon--Home">
    <span>Home</span>
  </NavLink>
  <NavLink href="/virtualize" title="Virtualize" class="ms-Icon ms-Icon--VirtualNetwork">
    <span>Virtualize</span>
  </NavLink>
  <NavLink href="/paged" title="Paged" class="ms-Icon ms-Icon--PageList">
    <span>Paged</span>
  </NavLink>
</nav>
